{% extends 'base.html.twig' %}

{% block body %}
    {% if not app.user %}
       <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="inscription"><h2><U style="color: #E80F00;">Connexion</U></h2></div>
                </div>

                <form action="{{ path('app_login') }}" method="post">

                    <fieldset>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="_username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" placeholder="Password">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button role="button" type="submit" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i>Connexion</button>
                    </fieldset>
                </form>
                <button class="btn btn-success" id="BUTinscription"><a href="{{ path('app_register') }}">Inscription</a></button>
            </div>
        </div> 
    {% else %}    
        Bienvenue {{ app.user.username }}
        {% if app.user.finish %}
            <button class="btn btn-success" id="BUTmodification"><a href="{{ path('app_register') }}">Modifier</a></button>
            <button class="btn btn-success" id="BUTsearch"><a href="{{ path('search') }}">Faire une recherche</a></button>
        {% else %}
            <p>Vous êtes un stagiaire?</p>
            <button class="btn btn-success" id="BUTinscStag"><a href="{{ path('stagiaire') }}">Stagiaire</a></button>
            <p>Vous êtes une entreprise?</p>
            <button class="btn btn-success" id="BUTinscEnt"><a href="{{ path('ent_form') }}">Entreprise</a></button>
        {% endif %}
    {% endif %}
{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/jquery.js') }}"></script>
        {% endblock %}